<div class="main">
  <div class="description">
    <div class="card">
      <mat-card class="item-card">
        <mat-card-header style="margin-left:-18px;">
          <mat-card-title>{{ title }}</mat-card-title>
          <mat-card-subtitle>todo-next:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <div class="todo-next-content">
            <strong>welcome</strong> to the Angular to-do list app.
            with some simple HMTL + CSS + TS
            we can be begin to create interactive web pages.
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="item-card">
        <mat-card-header style="margin-left:-18px; max-height: 58px;">
          <mat-card-title>{{ title }}</mat-card-title>
          <mat-card-subtitle>reminders:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          <div *ngIf="items$ | async as items">
            <ul *ngIf="items.length" class="items-list">
              <li *ngFor="let item of items">{{item.description}}</li>
            </ul>
            <div *ngIf="items.length">
              <mat-divider></mat-divider>
              <br/>  
            </div>
          </div>          
        </mat-card-content>
        <mat-card-actions>
          <input matInput [formControl]="itemDescription" type='text' (keydown)="onKeydown($event)"/>
          <button mat-button style="margin-left:-4px;" rounded (click)="createToDoItem()" (keydown)="onKeydown($event)">
            Add Item
          </button> 
          <button mat-button rounded (click)="onClearItems()">
            Clear All
          </button>      
        </mat-card-actions>
      </mat-card>      
    </div>
  </div>
</div>